.git
node_modules
README.md
Dockerfile
.dockerignore
docker-compose.yml
.vscode
.gitignore
.next
.eslintrc.json
.prettierrc
.prettierignore
npm-debug.log
yarn-error.log
next-env.d.ts
.env
.env*
.flaskenv*
!.env.project
!.env.vault
utils